<!-- Include header and Nav partials -->
<%- include('partials/header') %>
<body>
    <%- include('partials/nav') %>

    <main class="outer-flex">
        <div class="inner-flex">
            <h1><%= conn.game %></h1>
            <p>
                <img class="profile-picture" src="assets/images/profile-picture.png" alt="profile picture">
                Hosted by *Host*<br />
                <%= conn.date %><br />
                <%= conn.time %><br />
                <%= conn.location %><br />
            </p>
            <br />
            <h2>Details</h2>
            <p>
                <%= conn.details %>
            </p>
        </div>
        <div class="inner-flex">
            <h3>
                Are you going?
            </h3>
            <p><%= count %> others are already going.</p>
            <br />
            <form action="/savedConnections" method="post">
                <button class="going-form" type="submit" id="going-yes" name="yes" formaction="/savedConnections/yes">Yes</button>
                <button class="going-form" type="submit" id="going-no" name="no" formaction="/savedConnections/no">No</button>
                <button class="going-form" type="submit" id="going-maybe" name="maybe" formaction="/savedConnections/maybe">Maybe</button>
            </form>
        </div>
    </main>

    <%- include('partials/footer') %>

</body>
</html>