<!-- Include header and Nav partials -->
<%- include('partials/header') %>
<body>
    <%- include('partials/nav') %>

    <main>
        <ul class="outer-list">
            <% for (cat of categories) { %>
            <li>
                <%= cat %> Game
                <ul class="inner-list">
                    <% for (conn of connections) {
                        if (conn.type === cat) { %>           <!--Creates a new list entry for each board game connection-->
                            <li><a href="../connections/<%= conn.ID %>"><%= conn.game %>  -  <%= conn.date %>,  <%= conn.time %></a></li>
                    <% }} %>
                </ul>
            </li>
            <% } %>
        </ul>
    </main>

    <%- include('partials/footer') %>

</body>
</html>