<!-- Include header and Nav partials -->
<%- include('partials/header') %>
<body>
    <%- include('partials/nav') %>

    <main>
        <ul class="outer-list">
            <li>
                Board Games
                <ul class="inner-list">
                    <% for (conn in connections) { 
                        if (conn.getType() === 'board') { %>           <!--Creates a new list entry for each board game connection-->
                            <li><a href="./connections/<%= conn.getID() %>"><%= conn.getGame %> - <%= conn.getDate() %> <%= conn.getTime() %></li>
                    <% }} %>
                </ul>
            </li>
            <li>
                Card Games
                <ul class="inner-list">
                    <% for (conn in connections) { 
                        if (conn.getType() === 'card') { %>           <!--Creates a new list entry for each card game connection-->
                            <li><a href="./connections/<%= conn.getID() %>"><%= conn.getGame %> - <%= conn.getDate() %> <%= conn.getTime() %></li>
                    <% }} %>
                </ul>
            </li>
        </ul>
    </main>

    <%- include('partials/footer') %>

</body>
</html>