<!-- Include header and Nav partials -->
<%- include('partials/header') %>
<body>
    <%- include('partials/nav') %>

    <main>
        <h1><%=user.user.first %> <%= user.user.last %> Connnections</h1>
        <table class="connections-table">
            <tr>
                <th>Connection</th>
                <th>Category</th>
                <th>Going?</th>
                <th></th>
            </tr>
            <% for(conn of user.userConnections) { %>
            <tr>
                <td><%= conn.connection.game %></td>
                <td><%= conn.connection.type %></td>
                <td><%= conn.rsvp %></td>
                <td>
                    <form method="post"> 
                        <button formaction="/savedConnections/update" value="<%=conn.connection.ID%>" class="update-button" name="update">Update</button>
                        <button formaction="/savedConnections/delete" value="<%=conn.connection.ID%>" class="delete-button" name="delete">Delete</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </table>
    </main>

    <%- include('partials/footer') %>

</body>
</html>